.gameContainer {
    flex: 5;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-width: 8px;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
}

.regionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 3;
}
