li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 5px 20px;
}

button {
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: #110011;
    color: white;
}

